.btn{
  margin-left: 10px !important;
}

.btn-fb{
  background: #3b5998;
  color: #fff;
}

.btn-lista{
  background: #ecbad2;
  color: #fff !important;
  :hover, :focus{
     border: 1px solid #fff;
  }
}
