.navbar{
   border-bottom: 1px solid #ecbad2;
   a{
     text-decoration: none;
     color: #000;
     :hover, :focus{
        text-decoration: none;
         color: #D3D3D3;
     }
  }
}

.avatar{
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.card{
  margin-top: 30px;
  .card-header{
    color: #ecbad2;
    background: none;
    border: none;
      h1{
       font-size: 24px;
       line-height: 28px;
       padding-right: 10px;
       margin-bottom: 0;
    }
  }
  .card-body{
     font-size: 16px;
     table, tr, td{
        i{
          font-size: 24px;
        }
        .map{
          color: #ecbad2;
        }
       .add{
         color: green;
       }
       .remove{
         color: red;
      }
   }
   .btn-lista{
     background: #ecbad2;
     color: #fff;
     :hover, :focus{
        border: 1px solid #fff;
     }
   }
  }
}
