body{
   background: #f5f5f5;
}

.bg {
  background-image: url("https://i.ibb.co/d4pq0kp/background.jpg");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none !important;
}

.banner{
  height: 75%;
}
